<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>To-Do list App</title>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
  </head>
  <body ng-app="todoApp" ng-controller="TodoController" class="container">

  <div class="row-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>ng-Todo List</h1>
        <h6>What do you need done?</h6>

        <form ng-submit="addTodo()">
          <div class="input-group input-group-lg">
            <input type="text" ng-model="newTask" class="form-control input-lg">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Add Task</button>
            </span>

          </div>
        </form>
      </div>

      <br>

      <div id="taskList" class="list-group">
        <div ng-repeat="task in taskList" class="list-group-item" class="task">
          <label class="description" ng-class="{strike: task.done}">
            <input type="checkbox" ng-model="task.done"/>
            {{task.description}}
          </label>
          <button ng-click="deleteTodo($index)" class="btn btn-primary btn-danger">Delete</button>
        </div>
      </div>
      <span id="todo-count">
        <h4>{{pendingCount}}
        <ng-pluralize count="pendingCount" when="{one: 'item left', other: 'items left' }">
        </ng-pluralize>
        <button id="clearTasks" ng-show="pendingCount < taskList.length" ng-click="clearCompleted()" class="btn btn-default">Clear Completed {{taskList.length - pendingCount}}</button>
        </h4>
      </span>
    </div>

  </div>



  <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="controllers.js"></script>

  </body>
</html>